.breakdown {
  display: none;
}

h1, h2 {
  font-family:'Press Start 2P', cursive;
}

body {
  font-family: 'Pavanam', sans-serif;
}

.bolded {
  font-family: 'Russo One', sans-serif;
}

/*.header h1 {
  background: url('img/beer.jpg') 0 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  image-orientation:
}*/
